* {
  margin: 0;
  padding: 0;
 
}
#root{
  background-image: url("../src/assets/img/background.png");
  background-size: cover;
  font-family: "Ubuntu" sans-serif;
  height: 768px;
  width: 1366px;
}
